*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(./img/numbers_background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: blueviolet;

    
}

.container{
    /* border: 1px solid red; */
    margin-top: 3rem;
    text-align: center;
    
}

.game{
    /* border: 1px solid black; */
    margin: 2rem auto;
    color: white;
}

input{
    padding: 15px;
    background-color: white;
    margin-right: 10px;
    border: 1px solid blueviolet;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    font-size: 1.5rem;

}

button{
    padding: 5px;
    color: white;
    background-color:sandybrown;
}

#congrat{
    color: yellow;
    margin-bottom: 1rem;
}

.attempt{
    text-align: center;
    color: aqua;
}

.image{
    /* border: 1px solid black; */
    margin: 2rem auto;
}

.image img{
    width: 15%;
}

.top img{
    width: 30%;
    height: 20rem;
}

h1{
    margin-bottom: 2rem;
}

@media screen and (max-width: 1400px){
    input{
        padding: 5px;
        background-color: white;
        margin-right: 10px;
        border: 1px solid blueviolet;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        text-align: center;
        font-size: 1rem;
    
    }
    
    
    #congrat{
        color: yellow;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .top img{
        width: 20%;
        height: 10rem;
    }

    .image img{
        width: 10%;
    }
}


@media screen and (max-width: 500px){


    input{
        padding: 1px;
        margin-right: 2px;
        border-bottom-right-radius: 7px;
        border-top-left-radius: 7px;
        width: 10rem;
        font-size: 1rem;
    
    }

    button{
        display: block;
        margin: 10px auto;
    }

    h1{
        font-size: 1.2rem;
    }
    
    
    #congrat{
        color: yellow;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .top img{
        width: 20%;
        height: 10rem;
    }

    .image img{
        width: 10%;
    }
}
